*.tfstate*
env-vars
*.terraform.tfvars
.terraform.lock.hcl
.terraform/

.idea
*.swp
tf-graph.dot*
go.sum
# user emails (user names):
variables-users.tf
#
# web-server/bastion-network.tf
# web-server/bastion.tf
# web-server/compute.tf
# web-server/datasources.tf
# web-server/lb.tf
# web-server/outputs.tf
# web-server/subnet.tf

id_rsa
