export PS1='\u@\h \w [terraform czechedu lada]\$ '
### Authentication details
# top admin:
export TF_VAR_tenancy_ocid="ocid1.tenancy.oc1..aaaaaaaag5ufgrzvunkiqspyc2ithwyyhlsl4ydvpiyj3zebc6mbn5kbs7oa"
export TF_VAR_user_ocid="ocid1.user.oc1..aaaaaaaavprjod7jdd227whf62mmtpgss5ivdq6tqji7sdolphidpuxfzrsa"
export TF_VAR_fingerprint="ae:2f:cf:9e:4b:02:fd:3f:89:2e:be:48:32:61:57:aa"
export TF_VAR_private_key_path="/home/xdobiasl/.oci-czechedu/oci_api_key.pem"

export TF_VAR_region="us-ashburn-1"
export TF_VAR_home_region="us-ashburn-1"
#export TF_VAR_availability_domain=1
export TF_VAR_TestServerShape="VM.Standard2.1"

#export TF_VAR_InstanceImageOCID="{us-phoenix-1 = \"ocid1.image.oc1.phx.aaaaaaaasez4lk2lucxcm52nslj5nhkvbvjtfies4yopwoy4b3vysg5iwjra\",
#                                  uk-london-1 = \"ocid1.image.oc1.uk-london-1.aaaaaaaaynxdelzap4cpziba7ahd2jbfdf5ss4r4wjmqefm6wwftrmn25vbq\"}"


### Public/private keys used on the instance
export TF_VAR_ssh_public_key=~/.ssh/dalsi/bdacloudcli_rsa.pub
export TF_VAR_ssh_private_key=~/.ssh/dalsi/bdacloudcli_rsa
