export PS1='\u@\h \w [terraform czechedu lada]\$ '
### Authentication details
# top admin:

export TF_VAR_tenancy_ocid="ocid1.tenancy.oc1..aaaaaaaagpl3dtrsgsdrpjmtkffgtywh3gcesjyk4psebzssdlngpyg3luda"
export TF_VAR_user_ocid="ocid1.user.oc1..aaaaaaaaewxiej7asst4p7ljvxb5jsf2is2tmluysedn4of6kw6ptzbdpdma"
export TF_VAR_fingerprint="5c:42:e9:9d:e9:d8:6d:12:20:94:be:1f:d2:51:59:09"
export TF_VAR_private_key_path="/home/xdobiasl/.oci/czechedu2020-oci_api_key.pem"

export TF_VAR_region="eu-frankfurt-1"
export TF_VAR_home_region="eu-frankfurt-1"
#export TF_VAR_availability_domain=1
export TF_VAR_TestServerShape="VM.Standard2.1"

#export TF_VAR_InstanceImageOCID="{us-phoenix-1 = \"ocid1.image.oc1.phx.aaaaaaaasez4lk2lucxcm52nslj5nhkvbvjtfies4yopwoy4b3vysg5iwjra\",
#                                  eu-frankfurt-1 = \"ocid1.image.oc1.eu-frankfurt-1.aaaaaaaavz6p7tyrczcwd5uvq6x2wqkbwcrjjbuohbjomtzv32k5bq24rsha\", 
#                                  \"}"


### Public/private keys used on the instance
export TF_VAR_ssh_public_key=~/.ssh/dalsi/bdacloudcli_rsa.pub
export TF_VAR_ssh_private_key=~/.ssh/dalsi/bdacloudcli_rsa
